@import "normalize.min.css";

:root {
  --color-text: #666666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #ffffff;
  --line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Microsoft YaHei", sans-serif;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: var(--color-text);
  background: var(--color-background);
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #666666;
}

.clear-fix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: "";
}

.clear-fix {
  *zoom: 1;
}

.arrow-right {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: .1rem;
  transform: rotate(135deg);
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  background-color: transparent;
}

.left {
  float: left;
}

.right {
  float: right;
}

